

.carousel{
    min-height: 500px;
    margin-bottom: 20px;

}

.carousel .carousel-item{
    width: 500px;
    height: 500px;
}

.carousel .carousel-item{
    width: 60%;
    height: 60%;
    border-radius: 15px;

}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background-color: rgb(4, 41, 49);


}



